<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/mycss.css">
</head>

	<body>
		<header><h1>Introduction To Programming </h1></header>
		<header><h2>By Mark Celeste</h2></header>
		<nav class = "table">
		    <ul class = "list">
		        <li><a href = "Unit_1.html">Unit 1</a></li>
		        <li><a href = "Unit_2.html">Unit 2</a></li>
		    	<li><a href = "Unit_3.html">Unit 3</a></li>
		    	<li><a href = "Unit_4.html">Unit 4</a></li>
		    	<li><a href = "comments.html">Leave Comments</a></li>

		    </ul>
    	</nav>

    	{% block content %}
    	{% endblock %}
	</body>
</html>
{% endautoescape %}
